header {
  background-color: #2C3333;
}

.button {
  color: black
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #A5C9CA;
  }

.form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #E7F6F2;
}

.container a{
    text-decoration: none;
    color: black;
}

 @media (min-width: 768px) {
    .form-container {
      display: flex;
      flex-direction: row;
    }
    .form-container .form-section {
      flex: 1;
      padding-right: 20px;
    }
    .form-container .image-section {
      flex: 1;
      padding-left: 20px;
    }
}

/* footer start*/

.footer {
  background-color: #2C3333;
}

.iconInsta {
  width: 22px;
}

.buttonStart {
  background-color: #A5C9CA;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.iconoSBN {
  width: 120px;
}

/* footer end */

/* slider/main-page start */

.contSlider {
  padding: 0;
}

.columnaPost {
  background-color: #fff;
}

.columnaForm {
  background-color: #393939;
}

.card-img-top {
  border-radius: 15px;
}

.columnaPost > .container > .card {
  border-radius: 15px;
}

.card {
  background-color: #2C3333;
  color: #fff;
}

.columnaForm > .container > .card-img-top {
  border-radius: 1px;
}

.columnaForm > .container > div > .card {
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

/* main page end */

/* gallery start */

.containerGalleryInner {
  background-color: #393939;
}

.containerImgGallery > img {
  width: 100%;
  border-radius: 5px;
}