:root {
    --color1: #2c3333;
    --color2: #A5C9CA;
    --color3: #E7F6F2;
    --color4: #ccc;
    --color5: #000;
    --color6: #395B64;
    --color7: #393939;
    --color8: #fff;
    --color9: white;
    --color10: #1d1c1c;
    --color11: #93c5c7;
}

* {
    font-family: 'Mulish', sans-serif;
}

body{
    background-color:var(--color6);
}

.pageText{
    color: var(--color5);
    font-size: 23px;
}

.imgPage{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.cardPageColor{
    background-color: var(--color2);
}

a{
    margin-right: 1%;
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
    color: var(--color1);
    background-color:var(--color2);
    border-radius: 7px;
    padding: 5px;
}

a:hover{
    background-color: var(--color11);
    width: 55px;
    height: 35px;
}